<!-- templates/base.html -->

{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <title>{% block title %}MiniGitHub{% endblock %}</title>  
  
</head>

<body style="font-size: 30px;">
  <main>
    <div class ="header">
      <h6 style="text-align: center; color:#9BA4B4;" >Built by 200050080-200050110</h6>
      <h1 style="text-align: center; color: aliceblue;" > Welcome to Github Profiles! </h1>
      
      <div id="wrapper">
        <div class="inner">
          {% if user.is_authenticated %}
            <button  onclick="window.location.href='/users/explore';">Explore</button>
            <button  onclick="window.location.href='/users/profile/{{user.username}}';">MyProfile</button>
            <button  onclick="window.location.href='/users/logout';">Logout</button>
          {% else %}
          <button style="width: auto;" onclick="window.location.href='/users/register';">Sign Up</button>
          <button style="width: auto;" onclick="window.location.href='/users/login';">Login</button>
          {% endif %}
        </div>  
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>